/*
 * Copyright (C) 2021 Golioth, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/ {
  aliases {
    accel0 = &lis2dh;
  };
};

&i2c1 {
  lis2dh: lis2dh@18 {
    compatible = "st,lis2dh";
    label = "LIS2DH";
    reg = <0x18>;
    irq-gpios = <&gpio0 29 0>;
  };

};